
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Text to speech
tts:
  - platform: google_translate


automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  server_port: 80

input_boolean:
  enable_humidifier_pid:
    name: Enabled

input_number:
  humidifier_slider:
    name: Humidifier
    initial: 0
    min: 0
    max: 9
    step: 1

  humidifier_set_humidity:
    name: 目标湿度
    initial: 40
    min: 35
    max: 45
    step: 0.1

  humidifier_proportional:
    name: Proportional
    initial: 180
    min: 0
    max: 5000
    step: 0.1
    mode: box

  humidifier_integral:
    name: Integral
    initial: 5.5
    min: 0
    max: 500
    step: 0.01
    mode: box


  humidifier_derivative:
    name: Derivative
    initial: 2.5
    min: 0
    max: 999999
    step: 0.01
    mode: box


  humidifier_sample_time:
    name: Sample Time
    initial: 60
    min: 0
    max: 300
    step: 1

sensor:
  - platform: pid_controller
    name: humidifier_controller
    enabled: '{{ states("input_boolean.enable_humidifier_pid") }}'
    set_point: '{{ states("input_number.humidifier_set_humidity") }}'
    p: '{{ states("input_number.humidifier_proportional") }}'
    i: '{{ states("input_number.humidifier_integral") }}'
    d: '{{ states("input_number.humidifier_derivative") }}'
    entity_id: sensor.indoor_humidity
    precision: '0'   
    minimum: '0'
    maximum: '9'
    sample_time: '{{ states("input_number.humidifier_sample_time") }}'

mqtt:
  sensor:
    - name: "Outdoor Temperature"
      state_topic: "weather/outdoor_temp"
      unit_of_measurement: "°C"
      state_class: measurement
      device_class: "temperature"
      value_template: "{{ value }}"
    - name: "Outdoor Humidity"
      state_topic: "weather/outdoor_humidity"
      unit_of_measurement: "%"
      state_class: measurement
      device_class: "humidity"
      value_template: "{{ value }}"
    - name: "Indoor Temperature"
      state_topic: "weather/indoor_temp"
      unit_of_measurement: "°C"
      state_class: measurement
      device_class: "temperature"
      value_template: "{{ value }}"
    - name: "Indoor Humidity"
      state_topic: "weather/indoor_humidity"
      unit_of_measurement: "%"
      state_class: measurement
      device_class: "humidity"
      value_template: "{{ value }}"
    - name: "Indoor Brightness"
      state_topic: "weather/indoor_brightness"
      unit_of_measurement: "lx"
      state_class: measurement
      device_class: "illuminance"
      value_template: "{{ value }}"



yahoofinance:
  symbols:
    - BTC-USD
    - VOO
    - SPX
    - ^DJI

shell_command:
  tv_ambilight_once: >
    docker exec tvlight python /config/scripts/tv_ambilight.py